// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #39CCCC;
 
$title-color:        #111111;
$moreinfo-color:     #001F3F;
$live-color:         #001F3F;
$unlive-color:       #FF851B;
$bus-type-color:     #001F3F;
$live-value-color:   #001F3F;
$unlive-value-color: #FF851B;
 
 
// ----------------------------------------------------------------------------
// Widget-list styles
// ----------------------------------------------------------------------------





.widget-octranspo {
 
  background-color: $background-color;
  vertical-align: top;
  width: 730px;
 
  .title {
    color: $title-color;
  }
 
  ul {
    margin: 0 15px;
    text-align: left;
    color: $live-color;
  }
 
  ol {
    list-style-position: inside;
  }
 
  li {
    margin-bottom: 5px;
    white-space: nowrap;
  }
 
  .label {
  font-size: 80%;
  }
 
  .trip[data-live="false"] .label {
    color: $unlive-color;
  }
 
  .trip[data-live="true"] .label {
    color: $live-color;
  }
 
  .dest:before {
    content: "To: ";
  }
 
  .busInfo {
    color: $bus-type-color;
    font-size: 60%;
    display: block;
  }
 
  .list-nostyle {
    list-style: none;
  }
 
  .value {
    float: right;
    margin-left: 12px;
    font-weight: 600;
    overflow: hidden;
  }
 
  .trip[data-live="true"] .value {
    color: $live-value-color;
  }
 
  .trip[data-live="false"] .value {
    color: $unlive-value-color;
  }
 
  .updated-at {
    color: rgba(0, 0, 0, 0.3);
  }
 
  .more-info {
    color: $moreinfo-color;
  }
 
}