<script type='text/javascript'>
$(function() {
Dashing.gridsterLayout('[{"col":1,"row":1,"size_x":1,"size_y":1},{"col":3,"row":2,"size_x":1,"size_y":1},{"col":4,"row":1,"size_x":1,"size_y":1},{"col":1,"row":2,"size_x":1,"size_y":1},{"col":2,"row":1,"size_x":1,"size_y":2},{"col":3,"row":1,"size_x":1,"size_y":1}]', 'horizontal')
});
</script>



<% content_for :title do %>York Dash<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="fitbit" data-view="Fitbit"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="synergy" data-view="Meter" data-title="Energy (random)" data-min="0" data-max="1000"></div>
    </li>

     <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="valuation" data-view="Number" data-title="Current Balance" data-moreinfo="In the bank (random)" data-prefix="$"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Countdown" data-title="UK Wedding" data-end="21-June-2014 14:00:00"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="octranspo" data-view="Octranspo" data-title="OC Transpo: Rideau Centre"
      ></div>
      <i class="icon-road icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="aww" data-view="RandomAww"></div>
    </li>
   </ul>
</div>
 
  </ul>
    <center><div style="font-size: 12px">Current status positive.</div></center>

<!--   <center><div style="font-size: 12px">Try this: curl -d '{ "auth_token": "YOUR_AUTH_TOKEN", "text": "Hey, Look what I can do!" }' \http://<%=request.host%>:<%=request.port%>/widgets/welcome</div></center> -->
</div>