<script type='text/javascript'>
$(function() {



Dashing.gridsterLayout('[{"col":1,"row":1,"size_x":1,"size_y":1},{"col":1,"row":2,"size_x":1,"size_y":1},{"col":5,"row":1,"size_x":1,"size_y":2},{"col":2,"row":1,"size_x":3,"size_y":1},{"col":2,"row":2,"size_x":3,"size_y":1},{"col":1,"row":3,"size_x":1,"size_y":1},{"col":5,"row":3,"size_x":1,"size_y":1},{"col":2,"row":3,"size_x":1,"size_y":1}]')
});

  Dashing.widget_base_dimensions = [370, 340]
  Dashing.numColumns = 5
</script>



<% content_for :title do %>York Dash<% end %>
<div class="gridster">
  <ul>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="fitbit" data-view="Fitbit"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Countdown" data-title="Victoria's 007 Party" data-end="27-September-2014 14:00:00"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="octranspo" data-view="Octranspo" data-title="OC Transpo: Rideau Centre"
      ></div>
      <i class="icon-road icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="3" data-sizey="1">
      <div data-id="kwh_value" data-view="Graph" data-title="Power Cost ( $ per day )" style="background-color:#ff9618"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="3" data-sizey="1">
      <div data-id="verbinski" data-view="Verbinski"></div>      
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Clock"></div>    
      <i class="icon-time icon-background"></i>  
    </li>
    
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="iframe1" data-view="iframe">
<iframe width="370" height="240" src="http://www.ustream.tv/embed/13027369?ub=85a901&amp;lc=85a901&amp;oc=ffffff&amp;uc=ffffff&amp;v=3&amp;wmode=direct&amp;autoplay=true" scrolling="no" frameborder="0" style="border: 0px none transparent;">    </iframe>
<br /><a href="http://www.apl.tv/" style="padding: 2px 0px 4px; width: 370px; background: #000000; display: block; color: #ffffff; font-weight: normal; font-family: Arial, sans-serif; font-size: 10px; text-decoration: underline; text-align: center;" target="_blank">Live video by Animal Planet L!ve</a>

      </div>    
    </li>

  <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
    <div data-id="aww" data-view="RandomAww"></div>
  </li>

  </ul>
</div>
 
  </ul>
    <!-- <center><div style="font-size: 8px">Currently status positive. (+)</div></center> -->
</div>