<script type='text/javascript'>
$(function() {
  Dashing.gridsterLayout('[{"col":1,"row":1,"size_x":2,"size_y":2},{"col":3,"row":1,"size_x":1,"size_y":1},{"col":3,"row":2,"size_x":1,"size_y":1},{"col":4,"row":2,"size_x":1,"size_y":1},{"col":4,"row":1,"size_x":1,"size_y":1},{"col":1,"row":3,"size_x":3,"size_y":1}]')
 });

  Dashing.widget_base_dimensions = [370, 330]
  Dashing.numColumns = 5

</script>

<% content_for :title do %>York Dash<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
      <img src="https://media.giphy.com/media/FqtWrearu5vb2/giphy.gif" style='width:100%;' border="0" alt="york">
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Clock"></div>
      <i class="icon-time icon-background"></i>
    </li>

    <li data-row="2" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="aww" data-view="RandomAww"></div>
    </li>

    <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="cats" data-view="RandomCats"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Countdown" data-title="Birthday" data-end="29-September-<%= Time.new.year %> 00:15:00"></div>
    </li>

    <li data-row="3" data-col="3" data-sizex="3" data-sizey="1">
      <div data-id="verbinski" data-view="Verbinski"></div>
    </li>

  </ul>
</div>

